@model Teacher

<h2>Ajouter un Nouveau professeur</h2>

<form asp-action="Add">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Firstname"></label>
        <input asp-for="Firstname" class="form-control" />
        <span asp-validation-for="Firstname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Lastname"></label>
        <input asp-for="Lastname" class="form-control" />
        <span asp-validation-for="Lastname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AdmissionDate"></label>
        <input asp-for="AdmissionDate" class="form-control" />
        <span asp-validation-for="AdmissionDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Teach"></label>
        <select asp-for="Teach" asp-items="Html.GetEnumSelectList<Teach>()" class="form-control">
             <option value="">Sélectionnez un choix</option>
        </select>
        <span asp-validation-for="Teach" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Ajouter le professeur</button>
</form>

<a asp-action="Index">Retour à la Liste</a>