@model AccountViewModel
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
        <h2>S'inscrire</h2>
        <form asp-action="Register">
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Mot de passe</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmedPassword" class="control-label">Confirmer le mot de passe</label>
                <input asp-for="ConfirmedPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmedPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label">Prénom</label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label">Nom de famille</label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label">Âge</label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teach" class="control-label">Matière enseignée</label>
                <select asp-for="Teach" asp-items="Html.GetEnumSelectList<Teach>()" class="form-control">
                    <option value="">Choisissez une option</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PersonalWebSite" class="control-label">Site web personnel</label>
                <input asp-for="PersonalWebSite" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="AdmissionDate" class="control-label">Date d'admission</label>
                <input asp-for="AdmissionDate" type="date" class="form-control" />
                <span asp-validation-for="AdmissionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="S'inscrire" class="btn btn-primary" />
            </div>
        </form>


